* {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

:root {
  font-family: "Archivo", sans-serif;
  --primary-text-color: #333;
  --primary-button-text-color: #ffffff;
  --background-color: #efefef;
  --box-color: #ffffff;
  --light-blue: #d3d4f5;
  --button-blue: #2426cc;
  --title-color: #011e62;
  --price-color-red: #f90035;
  --frame-grey: #757575;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background: var(--box-color);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-message {
  text-align: center;
}

.welcome-message h2 {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: bold;
  margin-top: 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
  flex-direction: row;
}

.sidebar {
  background-color: var(--box-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar h3 {
  color: var(--frame-grey);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--button-blue); 
  color: var(--primary-button-text-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.sidebar button:hover {
  background-color: #4a4fef;
}

.main-content {
  flex: 1;
  padding: 2rem;
  margin-left: 40px;
  max-width: 800px;
}

.card {
  background-color: var(--box-color);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-bottom: 1.5rem;
}

.card-header h2 {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-header p {
  font-size: 1rem;
  color: var(--primary-text-color);
}

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  
 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.modal-content {
  background: var(--box-color); 
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 600px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

#editProfileModal input {
  width: 100%;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid var(--frame-grey);
  border-radius: 5px;
  font-size: 14px;
}

#editProfileModal input::placeholder {
  color: #a5a5a5;
}

#editProfileModal button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-blue);
  color: var(--primary-button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#editProfileModal button:hover {
  background-color: #4a4fef;
}

#orderHistoryModal .modal-content {
  background: var(--box-color);
  padding: 2rem;
  border-radius: 8px;
}

#orderHistoryList {
  margin-top: 1rem;
}

footer.footer {
  width: 100%;
  background: var(--button-blue);
  padding: 1rem;
  position: static;
  text-align: center;
}

.footer-container {
  margin-bottom: 0px auto;
}

#footer-rights {
  color: var(--primary-button-text-color);
}

.footer-icons {
  padding: 2rem;
}

.footer-icons img:hover {
  filter: invert(30%);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: var(--box-color);
}

.footer-links a:hover {
  color: var(--primary-button-text-color);
  text-decoration: underline;
}

.orderHistoryModal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: var(--box-color);
}

.footer-links a:hover {
  color: var(--primary-button-text-color);
  text-decoration: underline;
}


